.form {
  display: grid;
  grid-template-columns: auto auto;
}

.form button {
  margin-left: 20%;
  margin-top: 15%;
  height: 50px;
  width: 150px;
  font-weight: bold;
}

.password-inputs {
  width: 60%;
  margin-left: 30%;
}
