* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: #9bd5f7;
}

/* for mapbox */
.mapboxgl-popup-content {
  padding: 10px 8px 10px !important;
  font-family: 'Maven Pro', sans-serif;
}

.mapboxgl-popup-close-button {
  outline: none;
  padding: 1px;
}
