.user {
  margin: 2% 15%;
}

.settings {
  padding-top: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: linear-gradient(
    rgba(52, 213, 241, 0.986),
    rgba(206, 217, 218, 0.986)
  );
  border-bottom: 1px solid rgb(202, 202, 202);
}

.password {
  padding-top: 10px;
  padding-bottom: 5%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: linear-gradient(
    rgba(206, 217, 218, 0.986),
    rgba(52, 213, 241, 0.986)
  );
}

.settings h2,
.password h2 {
  text-align: center;
  margin-bottom: 4%;
}
